/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* variable css */
:root {
    /* colors */
    --hue-color:240; /*blue 240 - green 154 - orange 25*/

    --first-color: hsl(var(--hue-color),53%, 49%);
    --title-color: hsl(var(--hue-color),53%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #fff;
    --body-color: hsl(var(--hue-color), 24%, 94%);

    /* font and typography */
    --body-font: ;
    --biggest-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;

    /* font weight */
}